.visually-hidden {
    display: none;
  }
  
  :root {
    --basic-black: #000000;
    --basic-dark: #333333;
    --basic-gray: #EEEEEE;
    --basic-brown: #766357;
    --basic-blue: #81B3D2;
    --basic-white: #FFFFFF;
  
    --special-gray-1: #F2F2F2;
    --special-gray-2: #A9A9A9;
    --special-gray-3: #666666;
    --special-footer-background: rgba(255, 255, 255, 0.9);

    --special-blue: #669EC0;
    --special-blue-1: #5496BD;

    --special-brown: #604E43;
    --special-brown-1: #503E33;

    --special-black: rgba(35, 31, 32, 1);

    --special-app-hover: #EBEBEB;
    --special-app-border: #E5E5E5;

  }
  
  /* Global */

  body {
    max-width: 1200px;
    margin: auto;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-dark);
    text-transform: uppercase;
    background-color: var(--special-gray-1);
    background-position: top center;
    background-repeat: no-repeat;
    /* тень на подложку? */
    box-shadow: 0 0 40px 0 #dbdbdb;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  
  }

  /* Grid */

.page {
  height: 100%;
}

.page-body {
   min-height: 100%;
   display: grid;
   grid-template-rows: min-content 1fr min-content;
   align-content: start;
 }

  /* Main header */

  .main-header {
    background-color: var(--basic-white); 
  } 

  /* Main navigation */

  .main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-black);
    background-color: transparent;
    position: relative;
  }

  .main-header-logo {
    position: absolute;
    left: calc(50% - 68px);
    top: 0;
  }

  .site-navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    height: 56px;
  }

  .navigation-right {
    margin-right: 180px;
  }

  .site-navigation-current a:not([href]) {
    background-color: var(--basic-white);
  }

  .site-navigation a {
    color: var(--basic-black);
  }

  .site-navigation a:hover,
  .site-navigation a:focus{
    color: var(--basic-blue);
  }

  .site-navigation a:active{
    color: var(--basic-black);
    mix-blend-mode: normal;
    opacity: 0.3;
  }

  .site-navigation-inner .navigation-here {
    color: var(--basic-brown);
  }
    
  .sedona-info {
    height: 216px;
    text-align: center;
    background-color: var(--basic-white);
  }

  .info-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-black);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;

  }

  .info-text {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-dark);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .img-container {
    background-image: url(../img/sedona_background_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 76px;
  }

  .img-form {
    transform: translateY(11%);
  }

  
    /* Features */
   

    .features-list {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 256px 330px 256px 256px;
      grid-template-areas: "town img-town img-town"
                           "housing food souvenirs"
                           "img-bridge img-bridge bridge"
                           "space road tourists";  
    }

    .f-i-town {
      grid-area: town;
  }
  
  .img-feature-town {
     grid-area: img-town;    
  }
  
  .f-i-housing {
       grid-area: housing; 
  }
  
  .f-i-food {
       grid-area: food; 
  }
  
  .f-i-souvenirs {
      grid-area: souvenirs; 
  }
  
  .f-i-bridge {
      grid-area: bridge; 
  }
  
  .img-feature-bridge {
      grid-area: img-bridge; 
  }
  
  .f-i-space {
       grid-area: space; 
  }
  
  .f-i-road {
      grid-area: road; 
  }
  
  .f-i-tourists {
      grid-area: tourists; 
  }

  .feature-item-wt {
    display: flex;
    flex-direction: column;
  }

  .feature-item-wt img {
    order: -1;
    padding-top: 60px;
    padding-left: 40%;
  }

    .feature-item {
      text-align: center;
    }
    
    .feature-head {
    text-align: center;
    }

    .feature-head h4 {
      font-size: 21px;
      line-height: 26px;
      font-weight: bold;
      color: var(--basic-black);
    }
    
    .feature-head p{
    line-height: 26px;
    }
    
    .feature-item h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-white);
    }
    
    .feature-item-w p{
    line-height: 21px;
    color: var(--basic-white);
    }
    
    .feature-item-w {
    background-color: var(--basic-blue);
    }

    .feature-item-w span{
      line-height: 21px;
      color: var(--basic-white);
    }

    .feature-item h4 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: var(--basic-black);
    }
    
    h3 p {
      font-size: 14px;
      line-height: 21px;
      color: var(--basic-white);
    }
    
    .feature-item-g {
      background-color: var(--basic-gray);
    }

    .feature-item-wt {
      background-color: var(--basic-white);
    }

    /* Appointment */
    
    .appointment {
      /* временно увеличу высоту */
      height: 291px;
      list-style: none;
      text-align: center;
      background-color: var(--basic-white);
      position: relative;
    }

    .appointment h2 {
      font-weight: bold;
      font-size: 30px;
      line-height: 24px;
      margin: auto;
      padding-top: 68px;
    }



    .button-hotel {
    width: 568px;
    height: 86px;
    margin-top: 42px;
    font: inherit;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-brown);
    border: none;
    }

    .button-hotel:hover,
    .button-hotel:focus {
    background-color: var(--special-brown);
    }
    
    .button-hotel:active {
      /* как задать затемнение цвета текста при нажатии? */
      background-color: var(--special-brown-1);
      border: none;
       /* в браузере появляется черная граница?? */
    }

    .form {
      position: absolute;
      top: -152px;
      width: 568px;
      height: 395px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      background-color: var(--basic-white);
    }

    .app-container {
      display: flex;
    }

    .appointment-item .input-count {
      width: 30px;
    }
   
    .appointment h3 {
      font-size: 21px;
      line-height: 26px;
      font-weight: bold;
      color: var(--basic-white);
      background-color: var(--basic-brown);
    }
    
    .appointment label{
      font-size: 14px;
      line-height: 26px;
      font-weight: bold;
    }
    
    .appointment-item input { 
      font-size: 14px;
      line-height: 26px;
      font-weight: bold;
      background-color: var(--special-gray-1);
      border: none;
    }

    .input-date {
      width: 346px;
      height: 38px;
    }

    .input-count {
      width: 114px;
      height: 38px;
    }
  
    .appointment-item input:hover{
    background-color: var(--special-app-hover);
    }
    
    .appointment-item input:focus{
    background-color: var(--basic-white);
    border: 2px solid var(--special-app-border);
    }
    
    .button-submit {
      width: 458px;
      height: 58px;
      text-align: center;
      font-size: 21px;
      line-height: 26px;
      color: var(--basic-white);
      vertical-align: middle;
      text-transform: uppercase;
      background-color: var(--basic-blue);
      border: none;
      margin-left: 55px;
      }
  
      .button-submit:hover,
      .button-submit:focus {
      background-color: var(--special-blue);
      }
      
      .button-submit:active {
        /* как задать затемнение цвета текста при нажатии? */
        background-color: var(--special-blue-1);
      }

      .filter {
      background-image: url(../img/background_blur.jpg);
      background-repeat: no-repeat;
      background-position: center;
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      grid-template-rows: 217px;
      border: none;     
      }

      legend {
        margin-bottom: 25px;
      }

      .filter-option {
        margin-bottom: 25px;
      }

      .infrastructure {
        margin-top: 26.5px;
        margin-left: 72px;
      }

      .type_l {
        margin-top: 26.5px;
        margin-left: 20px;
      }

      .cost_per_day {
        margin-top: 26.5px;
        margin-left: 200px;
      }

      .range-container {
        display: flex;
        justify-content:space-around;
        width: 224px;
        height: 36px;
        border: 2px solid var(--basic-white);
        border-radius: 2px;
      }

      .range-limit {
        padding-top: 6.5px;
      }

      .range-limit-from {
        padding-left: 28px;
      }

      .filter-button {
        margin-top: 25px;
        margin-left: 30px;
      }

    /* Checkbox */

    .check_box {
      position: absolute;
      margin-left: -40px;
      width: 23px;
      height: 23px;
      background-image: url(../img/checkbox-off.svg);
  }
     
   /* Check */

   .check {
     padding-left: 40px;
   }

   .check_input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;    
}

    /* Checked */

  .check_input:checked + .check_box {
    background-image: url(../img/checkbox-on.svg);
}

  .check_input:focus + .check_box {
    background-image: url(../img/checkbox-off.svg);
}

  .check_input:checked:focus + .check_box {
    background-image: url(../img/checkbox-on.svg);
}


    /* disabled*/

  .check_input:disabled + .check_box {
    background-image: url(../img/checkbox-off-disabled.svg);
}

  .check_input:checked:disabled + .check_box {
    background-image: url(../img/checkbox-on-disabled.svg);
}

    /* Filters */

    .fieldset {
      border: 0;
      margin: 0;
      padding: 0;
    }
  
    .filter legend {
      font-size: 16px;
      line-height: 21px;
      font-weight: bold;
      color: var(--basic-white);
    }

    .filter ul {
      list-style: none;
      font-size: 14px;
      line-height: 21px;
      color: var(--basic-white);
    }

    .range-limit {
      font-size: 14px;
      line-height: 21px;
      color: var(--basic-white);
    }

    .filter-button {
      font-size: 14px;
      line-height: 21px;
      color: var(--basic-white);
      background: none;
    }

    .filter-button:hover,
    .filter-button:focus  {
      color: var(--basic-black);
      background-color: var(--basic-white);
    }

    .fieldset-range {
      margin-bottom: 15px;
    }

    .show-button {
      border: 2px solid var(--basic-white);
      border-radius: 2px;
      background-color: transparent;
      color: var(--basic-white);
      text-transform: uppercase;
      padding: 5px 34px;
    }

    .show-button:hover,
    .show-button:focus {
      color: var(--basic-black);
      background-color: var(--basic-white);
    }

    /* Hotel list */

    .quantity {
      font-weight: bold;
      font-size: 21px;
      line-height: 26px;
      color: var(--basic-black);
    }

    .sort {
      font-size: 12px;
      line-height: 18px;
      color: var(--basic-black);
    }

    .hotels_sort {
      list-style: none;
    }

    .sort-type {
      list-style: none;
    }

    .hotels_list {
      list-style: none;
    }

    .hotel_name {
      font-weight: bold;
      font-size: 21px;
      line-height: 26px;
      color: var(--basic-black);
    }

    .hotel_type, .hotel_price {
      font-size: 14px;
      line-height: 21px;
      color: var(--basic-dark);
    }

    .info_button {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      color: var(--basic-white);
      background-color: var(--basic-blue);
      padding: 3px 17px;    
    }

    .info_button:hover,
    .info_button:focus {
      background-color: var(--special-blue);
    }

    .info_button:active {
      background-color: var(--special-blue-1);
    }

    .book_button {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      color: var(--basic-white);
      background-color: var(--basic-brown);
      padding: 3px 17px;
    }
  
    .book_button:hover,
    .book_button:focus {
      background-color: var(--special-brown);
    }

    .book_button:active {
      background-color: var(--special-brown-1);
    }

    .rate_numbers {
    height: 27px;
    width: 110px;
    border: 0;
    background-color: var(--special-gray-1);

    }

    .hotel_rate {
      font-size: 14px;
      line-height: 21px;
      color: var(--special-gray-3);
      margin-left: 15px;
      margin-top: 6px;
      margin-bottom: 3px;
    }

    .map {
      position: relative;
      display: flex;
      justify-content: center;
    }

     /* results */

     .hotel_results {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       grid-template-rows: 68px;
       background-color: var(--basic-white);
       padding-top: 29px;
       padding-left: 73px;
     }

     .sort {
       margin-left: -122px;
     }
     
     .hotels_sort {
       display: flex;
       flex-direction: row;
       justify-content: center;
       gap: 32px;
       margin-left: -625px;  
     }

     .sort_type{ 
      font-size: 12px;
      line-height: 18px;
      color: var(--basic-black);
      /*mix-blend-mode: normal;
      opacity: 0.3;
      не понял, как задать цвет в состоянии покоя и в состоянии активный
      */
    }

    .sort_type a:hover,
    .sort_type a:focus {
    color: var(--basic-blue);
    }

    .sort_type a:active {
      color: var(--basic-black);
    }

    .sort_calm {
      color: var(--basic-black);
      opacity: 0.3; 
      border-bottom: 1px dotted var(--basic-blue);
      }


     .sort_filter:hover,
     .sort_filter:focus {
      color: var(--basic-blue);
      border-bottom: 1px dotted var(--basic-blue);
      opacity: 1;
     }

     .sort_filter:active {
      color: var(--basic-black);
     }

     .sort_active {
      color: var(--basic-blue);
     }

     

     .triangle_button_container {
       margin-left: 172px;
     }

     .triangle_up {
       background: url(../img/t_calm_up.svg) no-repeat;
       background-size: contain;
       border: none;
       width: 11px;
       height: 10px;
       padding-right: 12px;
     }

     .triangle_up:hover,
     .triangle_up:focus {
      background: url(../img/t_hover_up.svg) no-repeat;
      background-size: contain;
      border: none;
     }

     .triangle_up:active {
      background: url(../img/t_press_up.svg) no-repeat;
      background-size: contain;
      border: none;
     }

     .triangle_down {
       background: url(../img/t_active_down.svg) no-repeat;
       background-size: contain;
       border: none;
       width: 11px;
       height: 10px;
     }

     
     .triangle_down:hover,
     .triangle_down:focus {
      background: url(../img/t_hover_down.svg) no-repeat;
      background-size: contain;
      border: none;
     }

     .triangle_down:active {
      background: url(../img/t_press_down.svg) no-repeat;
      background-size: contain;
      border: none;
     }


     .hotels_item {
       display: grid;
       grid-template-columns: 237px 780px 183px;
       grid-template-rows: 150px;
       background-color: var(--basic-white);
       outline: 1px solid var(--special-app-border); 
     }

     .hotel_name {
       margin-top: 26px;
     }

     .type_price {
       margin-top: -25px;
     }






     .hotel_picture {
       margin-top: 30px;
       margin-left: 73px;
     }

     .hotel_type_h {
       padding-right: 38px;
     }

     .hotel_type_m {
      padding-right: 65px;
    }

    .hotel_type_a {
      padding-right: 22px;
    }

     /* какое-то дерьмо вышло 

     .hotel_information {
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr;
       grid-template-areas: "name name"
                            "type price"
                            "info book";
     }

      .hotel_name {
      grid-area: name;
      }

      .hotel_type {
      grid-area: type;
      }

      .hotel_price {
      grid-area: price;
      }

      .info_button {
      grid-area: info;
      display: inline-block;
      }

      .book_button {
      grid-area: book;
      display: inline-block;
      }
*/

      .type_price {
        display: flex;
      }


      .hotel_rate_container {
        margin-top: 29px;
        margin-right: 72px;  
      }

      .amara_rate_stars {
        margin-left: 5px;
      }

      .desert_rate_stars {
        margin-left: 49px;
      }

      .poco_rate_stars {
        margin-left: 70px;
      }

      .rate_numbers{
        margin-top: 42px;
      }

      

     /* Main footer */

    .main-footer {
      font-weight: bold;
      font-size: 21px;
      line-height: 26px;
      color: var(--basic-black);
    }
    
    .main-footer .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      height: 120px;
      background-color: var(--special-footer-background); 
      position: absolute;
      bottom: 0:
    }

    .footer-contacts a {
      font-weight: bold;
      font-size: 21px;
      line-height: 26px;
      color: var(--basic-black);
      background-color: transparent;
    }

    
    .social-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 6px;
      margin-top: 36px;
      text-align: center;
      list-style: none;
    }
    
    /* Social button */

    .social-button {
      color: inherit; 
    }
    
    .social-button {
      background-color: var(--basic-blue);  
      width: 46px;
      height: 48px;
      text-align: center;
    }

    .social-button:hover,
    .social-button:focus {
    background-color: var(--special-blue);
    }
    
    .social-button:active {
      background-color: var(--special-blue-1);
    }
    
    .footer-copyright b {
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      color: var(--basic-black);
    }

    .footer-copyright .button-copyright:hover,
    .footer-copyright .button-copyright:focus {
    color: var(--basic-blue);
    }

    .footer-copyright .button-copyright:active {
    color: var(--basic-gray)  
    }
